<app-nav (menuPerfilEvent)="menuPerfil($event)" ></app-nav>
<div class="flex-2">
    <div class="flex-2-item">
        <h3>COMUNIDAD TU MARCA</h3>
        <img src="/assets/comunity/panel-comunity.jpg"  alt="dsad" />
    </div>
    <div class="flex-2-item" *ngIf="viewNotes; else createNote">
        <button class="note-add" mat-fab extended color="primary" (click)="crearNote()">
            <mat-icon>add</mat-icon>
            Añadir nota
        </button>
        <h3 class="note-title">Notas Recientes</h3>
        <div >
            <div *ngFor="let note of notes; index as i;">
                <div class="note-main">
                    <mat-icon class="note-main-img">{{note.icon}}</mat-icon>
                    <p>{{note.content}}</p>
                </div>
                <p class="note-date"> {{note.date}} </p>
            </div>
        </div>
    </div>
    <ng-template #createNote>
        <div class="flex-2-item">
            <button class="note-volver" mat-fab extended color="primary" (click)="viewNote()">
                <mat-icon>reply</mat-icon>
            </button>
            <img src="../../../assets/comunity/panel-nota.png" alt="">
        </div>
    </ng-template>
</div>
<img src="../../../assets/fondo/figure-fondo.png" alt="" class="figure-fondo">