<app-nav (menuPerfilEvent)="menuPerfil($event)" ></app-nav>

<div class="flex-2">
    <div class="flex-2-item">
        <img src="../../../assets/novedades/mesmusica.png"  alt="dsad" />
        <video autoplay loop>
            <source src="../../../assets/novedades/INSCRÍBETE AQUI (Portada de Facebook).mp4" type="video/mp4">
        </video>
    </div>
    <div class="flex-2-item">
        <div>
            <p>
                En este mes estaremos realizando un evento en honor de la música. Estaremos realizando un concurso de canto e interpretacion de instrumentos.
                Te invitamos a a llenar el formulario de inscripción para que puedas participar y presumir tu talento.
            </p>
        </div>
        <div>
            <p>
                Tenemos una gran noticia, nos visita el grande Alejandro Formanchuk, quien es referente internacional en temas de comunicación interna y nos brindará una conferencia en el salón Magno de la empresa.
                Recuerda que será el 16 de Mayo a las 15:00hr. Confirma tu asistencia.
            </p>
        </div>
    </div>
</div>