<app-nav></app-nav>
<div class="flex-3">
  <div class="flex-3-left">
    <img  class="data-user"  src="../../../assets/perfil/data-user.jpg" alt="sin foto">
    <img  class="equipo"  src="../../../assets/perfil/equipo.jpg" alt="sin foto">
  </div>

  <div class="flex-3-center" >
    <img  class="panel"  src="../../../assets/perfil/notificaciones.jpg" alt="sin foto">
  </div>

  <div class="flex-3-rigth">
    <img  class="boton"  src="../../../assets/perfil/boton1.jpg" alt="sin foto">
    <img  class="boton"  src="../../../assets/perfil/boton2.jpg" alt="sin foto">
  </div>
</div>
