$colorBlue: rgb(25, 0, 255);
$colorBlueAqua: rgb(142, 248, 225);
$colorWhite: white;
$colorGreen: rgb(55, 189, 66);

.flex-3{
  display: flex;
  width:100%;
}

.flex-3-left{
  width:25%
}
.flex-3-center{
  width:50%;
  text-align: center;
}
.flex-3-rigth{
  width:25%
}


.data-user{
  width: 80%;
  margin: 20px 10%;
}
.equipo{
  width: 50%;
  margin: 20px 10%;
}

.panel{
  width: 80%;
  border-radius: 20px;
  margin: 20px 10%;
}

.boton{
  width: 80%;
  margin: 20px 10%;
}

.figure-fondo{
  position: fixed;
  z-index: -1;
  bottom: 0px;
  right: 0px;
  height: 280px;
  width: auto;
}