<app-nav (menuPerfilEvent)="menuPerfil($event)" ></app-nav>
<div class="flex-2">
    <h3>
        NOS COMPLACE ANUNCIA A NUESTRO EMPLEADO DEL MES , FANCISCO DIAS, POR SU GRADIOSO DESEMPEÑO  EN EL ANTERIOR MES COMO EJECUTIVO DE VENTAS
    </h3>
    <img src="../../../assets/information/panel-information.png" alt="" class="panel-information">
</div>
<div class="container-panel-bajo">
    <img src="../../../assets/information/panel-bajo-information.jpg" alt="" class="panel-bajo-information">
</div>
<img src="../../../assets/fondo/figure-fondo.png" alt="" class="figure-fondo">
