
$colorBlue: rgb(25, 0, 255);
$colorBlueAqua: rgb(142, 248, 225);
$colorWhite: white;
$colorGreen: rgb(55, 189, 66);
$colorGray: rgb(66, 66, 66);
$colorBlack: black;

.flex-2{
    display: flex;
    align-items: center;
    margin: 10px 5%;
}

.flex-2 h3 {
    font-size: 2em;
    font-weight: 500;
    margin: 0px 2%;
    text-align: center;
    color: $colorGray;
}

.panel-information{

}

.panel-bajo-information{
    width: 90%;
}

.container-panel-bajo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.figure-fondo{
    position: fixed;
    z-index: -1;
    bottom: 0px;
    right: 0px;
    height: 280px;
    width: auto;
}