<app-nav (menuPerfilEvent)="menuPerfil($event)" ></app-nav>
<div class="redes">
    <h3>MONITOREA TUS REDES DESDE UN SOLO LUGAR</h3>
    <div class="flex-3">
        <div class="flex-3-item">
            <img src="../../../assets/redes/icon-twitter.jpg" alt="" srcset="">
            <video autoplay loop>
                <source src="../../../assets/redes/twitter.mp4" type="video/mp4">
            </video>
        </div>
        <div class="flex-3-item">
            <img src="../../../assets/redes/icon-instagram.jpg" alt="" srcset="">
            <video autoplay loop>
                <source src="../../../assets/redes/instagram.mp4" type="video/mp4">
            </video>
        </div>
        <div class="flex-3-item">
            <img src="../../../assets/redes/icon-facebook.jpg" alt="" srcset="">
            <video autoplay loop>
                <source src="../../../assets/redes/facebook.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>
<img src="../../../assets/fondo/figure-fondo.png" alt="" class="figure-fondo">

