<app-nav (menuPerfilEvent)="menuPerfil($event)" ></app-nav>
<div>
    <h3></h3>
    <div class="flex-3">
        <div class="flex-3-item">
            <mat-icon svgIcon="twitter"></mat-icon>
            <video autoplay>
                <source src="videos/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="flex-3-item">
            <mat-icon svgIcon="twitter"></mat-icon>
            <video autoplay>
                <source src="videos/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="flex-3-item">
            <mat-icon svgIcon="twitter"></mat-icon>
            <video autoplay>
                <source src="videos/video.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>
