<div class="flex-3">
    <div class="flex-3-left">
        <a href="http://">TU MARCA AQUI</a>
    </div>
    <div class="flex-3-center">
        <a routerLink="/novedades">NOVEDADES</a>
        <a routerLink="/foro">FOROS</a>
        <a routerLink="/redes">REDES</a>
        <a routerLink="/information">INFORMACION</a>
        <a routerLink="/team">TEAM</a>
        <a routerLink="/comunity">COMUNIDAD</a>
    </div>
    <div class="flex-3-rigth">
        <div class="search">
            <mat-icon class="search-icon">search</mat-icon>
            <a >BUSQUEDA</a>
        </div>
        <div>

            <img routerLink="perfil" mat-button [matMenuTriggerFor]="belowMenu" class="img-boton-desplegable" src="../../../assets/perfil/boton-desplegable.jpg" alt="">
            <mat-menu #belowMenu="matMenu" yPosition="below" xPosition="after">
                <button mat-menu-item (click)="menuPerfil(panels.notification)">FRANCISCO DIAZ</button>
                <button mat-menu-item (click)="menuPerfil(panels.configuration)">CONFIGURACION</button>
                <button mat-menu-item>CERRAR SESION</button>
                <button mat-menu-item (click)="menuPerfil(panels.ayuda)">AYUDA</button>
            </mat-menu>
        </div>
    </div>
</div>
<span class="linea">
</span>
