<div class="flex-2">
     <div>
        <h2 class="title">La plataforma de comunicación para empleados.</h2>
        <h4 class="subtitle">Explore infinitas formas de mejorar la experiencia de tus empleados con tu propia plataforma.</h4>
        <p class="text">Notocias relacionadas a la empresa , actividades, foros, sobre la comunidad y mucho mas</p>
     </div>
     <div>
        <mat-card class="card">
            <mat-card-content>
              <form [formGroup]="formGroupLogin" class="flexColumn">
                <input  name="email" placeholder="CORREO ELECTRÓNICO O USUARIO" formControlName="usernameEmail">
                <input  name="email"  placeholder="CONTRASEÑA" formControlName="password">
              </form>
            </mat-card-content>
        </mat-card>
     </div>
</div>