<app-nav (menuPerfilEvent)="menuPerfil($event)" ></app-nav>
<div class="flex-2">
    <div class="flex-2-item-user">
        <img src="../../../assets/foro/team-conectado.jpg" alt="">
    </div>
    <div class="flex-2-item-foro">
        <div class="foro-title">
            <h2>Foros</h2>
            <button mat-fab extended >
                <mat-icon>add</mat-icon>
                CREAR UN NUEVO FORO
            </button>
        </div>
        <div class="foro-panel">
            <div>
                <div>
                    <img src="../../../assets/foro/foro-icon.png" alt=""> 
                </div>
                <div>
                    <img src="../../../assets/foro/foro-icon.png" alt=""> 
                </div>
                <div>
                    <img src="../../../assets/foro/foro-icon.png" alt=""> 
                </div>
                <div>
                    <img src="../../../assets/foro/foro-icon.png" alt=""> 
                </div>
                
            </div>
            <div>
                <p>Bikelovers</p>
                <p>Tragos</p>
                <p>Cumple de cami</p>
                <p>Reunión</p>
            </div>
            <div>
                <p>8 participantes</p>
                <p>17 participantes</p>
                <p>6 participantes</p>
                <p>29 participantes</p>
            </div>
            <div>
                <p>Erique Rivas creó el foro</p>
                <p>Francisco Diaz creó el foro</p>
                <p> María Gonvalves creó el foro</p>
                <p>Moises Arevalo creó el foro</p>
            </div>
            <div>
                <div>
                    <button mat-fab extended >
                        ENTRAR
                    </button>
                </div>
                <div>
                    <button mat-fab extended >
                        ENTRAR
                    </button>
                </div>
                <div>
                    <button mat-fab extended >
                        ENTRAR
                    </button>
                </div>
                <div>
                    <button mat-fab extended >
                        ENTRAR
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<img src="../../../assets/fondo/figure-fondo.png" alt="" class="figure-fondo">



